bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
*.sdf
*.opendb
*.targets
*.log
*.obj
*.iobj
*.tlog
*.lastbuildstate
*.pdb
*.ipdb
*.ilk
*.dll
*.idb